<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoKtt Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\kttProject\kttvirtual\Scripts\python.exe|D:\kttProject\kttvirtual\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="djangoHand1" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\virtualenvs\django_iis_demo_env\Scripts\python.exe|C:\virtualenvs\django_iis_demo_env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />

            <add name="static" path="*" verb="*" modules="static" resourceType="File" requireAccess="Read" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="D:\djangoProject\KttProject" />
        <add key="WSGI_HANDLER" value="KttProject.wsgi.application" />
        <add key="DJANGO_SETTINGS_MODULE" value="KttProject.settings" />
    </appSettings>
</configuration>