{% extends 'Inpayment/InpaymentList.html' %}
{% load static %} 
{% block content %}
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
<div class="FinalClassPopup" id="Loading">
    <div class="LoadImg"></div>
</div>
<section class="InnonPayemnt-list-Buttons"> 
    {% csrf_token %}
    <div class="First-row">
        <Button type="button" id="NewBtn" onclick="NewButton()">NEW</Button>&nbsp;&nbsp;
        <Button type="button" id="SubmitBtn" style="background-color: indianred;" onclick="InNonSubmit()">SUBMIT</Button>&nbsp;&nbsp; <!--XmlInNon()-->
        <Button type="button" id="PrintGstBtn" onclick = "PrintGstInNon()">PRINT GST</Button>&nbsp;&nbsp;
        <Button type="button" id="CopyBtn" onclick="InNonCopy()">COPY</Button>&nbsp;&nbsp;
        <Button type="button" id="AmendBtn" onclick = "InNonAmend()">AMEND</Button>&nbsp;&nbsp;
        <Button type="button" id="CancelBtn" onclick="InNonCanecl()">CANCEL</Button>&nbsp;&nbsp;
        <Button type="button" id="PrintStatusBtn" onclick = "InNonPrintStatus()">PRINT STATUS</Button>&nbsp;&nbsp;
        <Button type="button" id="DownloadCcpBtn" onclick="DownloadCcpInNon()">DOWNLOAD CCP</Button>&nbsp;&nbsp;
        <Button type="button" id="DownloadDataBtn" onclick="DownloadDataInNon()">DOWNLOAD DATA</Button>&nbsp;&nbsp;
        <Button type="button" id="DeleteAllBtn" onclick="DeleteAllInNon()">DELETE ALL</Button>&nbsp;&nbsp;
    </div>
    <br> 
    <div class="Second-row">
        <Button type="button" id="MergeBtn">MERGE</Button>&nbsp;&nbsp;
        <Button type="button" id="UnMergeBtn">UN MERGE</Button>&nbsp;&nbsp;
        <Button type="button" id="PrintCcpBtn" onclick="PrintCcpInNon()">PRINT CCP</Button>&nbsp;&nbsp;
    </div>
</section>

<section class="InonPayment-list-ShowColumns">
    <div class="row mt-3">
        <div class="col-11"></div>
        <div class="col-1">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                    id="ShowColumns">
                    ShowColumns
                </button>
                <ul class="dropdown-menu dropdown-menu-light">
                    {% for Custom in CustomiseReport %}
                    {% if Custom.FiledValue == "True" %}
                    <li><input type="checkbox" id="{{Custom.FiledName}}" checked value="{{Custom.FiledName}}"
                            onclick="HtaHide('{{Custom.Sno}}','{{Custom.FiledName}}')">&nbsp;<label
                            for="{{Custom.FiledName}}">{{Custom.FiledName}}</label></li>
                    {% else %}
                    <li><input type="checkbox" id="{{Custom.FiledName}}" value="{{Custom.FiledName}}"
                            onclick="HtaHide('{{Custom.Sno}}','{{Custom.FiledName}}')">&nbsp;<label
                            for="{{Custom.FiledName}}">{{Custom.FiledName}}</label></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section> 

<section class="InonPayment-list-ScndButton">
    <label for="InnonPaymentNoofRows">NO OF ROWS</label>
    <select id="InnonPaymentNoofRows" class="Dropdown" style="width: 70px;">
        <option value="10" selected>10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="100">ALL</option>
    </select>
    <select id="InnonPaymentTransmitData" class="Dropdown" style="width: 250px;margin-left: 20px;">
        {% for i in ManageUserMail %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
    </select>
    <button type="button" class="ButtonClick" style="margin-left: 20px;" onclick="TransmitDataClick()">TRANSMIT DATA</button>
    <label style="margin-left: 20px;">SEARCH</label>
    <input type="text" class="inputStyle" style="width: 180px;margin-left: 20px;" id="InonPaymentTableSearch">
    <input type="checkbox" style="margin-left: 20px;" id="InonInpayCheckBox">
    <label style="margin-top: 6px;" for="InonInpayCheckBox">INPAYMENT</label>
    <button type="button" class="ButtonClick" style="margin-left: 20px;">TRANSMIT OUTWARD</button>
    <div>
        <label for="InonPaymentFilter">FILTER PERMITS</label>
        <select id="InonPaymentFilter" class="Dropdown" style="width: 150px;margin-left: 20px;" onchange="FilterPermits()">
            <option value="">all</option>
            <option value="NEW">new</option>
            <option value="DRF">draft</option>
            <option value="APR">approved</option>
            <option value="AME">Amend</option>
            <option value="CNL">Cancel</option>
            <option value="QRY">query</option>
            <option value="PEN">pending</option>
            <option value="REJ">reject</option>
            <option value="ERR">error</option>
            <option value="DEL">delete</option>
        </select>
    </div>
</section>

<section class="InnonPayment-Table">
    <table id="InonPaymentTable">
        <thead>
            <tr>
                <th><input type="checkbox" onclick="ListAllCheckSubmit()" id="ListAllCheckSubmitId"></th>
                <th>DELETE</th>
                <th>EDIT</th>
                <th>VIEW</th>
                <th>JOB ID</th>
                <th>MSG ID</th>
                <th>DEC DATE</th>
                <th>DEC TYPE</th>
                <th>CREATE</th>
                <th>DEC ID</th>
                <th>ETA</th>
                <th>PERMIT NO</th>
                <th>IMPORTER</th>
                <th>HAWB</th>
                <th>MAWB/OBL</th>
                <th>POL</th>
                <th>MSG TYPE</th>
                <th>TPT</th>
                <th>PRE PMT</th>
                <th>X REF</th>
                <th>INT REM</th>
                <th>GST AMT</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle"></th>
                <th><input type="text" class="inputStyle" id="FootStatus"></th>
            </tr>
        </tfoot>
    </table>
</section>

<script src="{% static 'js/InnonPayment/InonPaymentList.js' %}"></script>

{% endblock %}